 @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital@1&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color:  rgb(1, 1, 55);
    max-height: 100vh;
    max-width: 100vw;
}

.main {
position: absolute;
left: 50%;
top: 40%;
transform: translate(-50%, -50%);  
}

.main-text {
   display: grid; 
   justify-content: center;
   color: white;
   text-transform: uppercase;
   font-family: 'Times New Roman', Times, serif;
   letter-spacing: 10px;
   padding: 10px 0;
   font-weight: bolder;
   font-size: 100px;
}

.btn {
    padding: 15px 25px;
    margin: 10px 230px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    text-transform: uppercase;
    box-shadow: white 2px 2px 2px 2px;
    color:  rgb(1, 1, 55);
}

.btn:hover {
color: white;
background-color:  rgb(1, 1, 55);
border: 1px solid white;
box-shadow: none;
}


@media (max-width: 600px) {


    .main {
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);  
        }

        .main-text {
            letter-spacing: 5px;
            padding: 10px 0;
            font-weight: bolder;
            font-size: 40px;
         }

         .btn {
            padding: 10px 20px;
            margin: 10px 230px;
            font-size: 12px;
        }
}